body {
  /* background-image: url('../assets/beau-horyza-87E30WA21OQ-unsplash.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact-btn {
  width: 100px;
  border-radius: 10px;
  background-color: rgb(128, 184, 208);
  padding: 5px;
}

.youtube-video {
  margin-bottom: 0px;
  width: 100%;
  height: 1100px;
  
}

.youtube-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
}

.youtube-box {
  /* border-radius: 10px; */
  /* box-shadow: 0 0 12px rgba(234, 232, 232, 0.8); */
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.home-container {
 
  width: 100%;
}

.home-music-videos {
  position: relative;
  background-color: white;
  margin-top: 0;
  background-image: url('../home-images/moxas.jpg');
  width: 100%;
  height: 1100px;
  background-size: cover;
}

.home-concert-videos {
  position: relative;
  background-color: white;
  margin-top: 0;
  background-image: url('../home-images/concert.jpg');
  width: 100%;
  height: 1100px;
  background-size: cover;
}

.home-lifestyle-videos {
  position: relative;
  background-color: white;
  margin-top: 0;
  background-image: url('../home-images/lifestyle.jpg');
  width: 100%;
  height: 1100px;
  background-size: cover;
}

.home-commerical-videos {
  position: relative;
  background-color: white;
  margin-top: 0;
  background-image: url('../home-images/commerical.jpg');
  width: 100%;
  height: 1100px;
  background-size: cover;
}

.home-about-section {
  position: relative;
  background-color: white;
  margin-top: 0;
  background-image: url('../home-images/home-avatar.jpg');
  width: 100%;
  height: 1100px;
  background-size: cover;
}

.solo-logo-2 {
  width: 600px;
  margin-bottom: -100px;
  margin-top: -50px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.company-about {
  text-align: center;
  color: white;
  font-size: 36px;
}

.section-title {
  color: white;
  font-size: 60px;
}

.section-description {
  color: white;
  font-size: 25px;
}

.title-container {
  position: absolute; 
  top: 75%; 
  left: 15%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  background-color: rgba(41, 40, 40, 0.7);
  /* background-color: rgba(151, 149, 149, 0.4); */
  /* background-color: transparent; */
  /* border-style: solid; */
  width: 500px;
  border-radius: 20px;
  
}

.title-container:hover, .title-container-right:hover {
  background-color: rgba(67, 67, 67, 0.7);
}

.title-container-right {
  position: absolute; 
  top: 75%; 
  left: 85%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  background-color: rgba(41, 40, 40, 0.7);
  /* background-color: rgba(151, 149, 149, 0.4); */
  /* background-color: transparent; */
  /* border-style: solid; */
  width: 500px;
  border-radius: 20px;
}

.contact-button-container {
  display: flex;
  justify-content: center;
}

.home-contact {
  width: 200px;
  height: 40px;
  margin-top: 30px;
}

.watch-btn {
  width: 100px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.watch-btn:hover {
  background-color: black;
  color: white;
}

.scroll {
  color: white;
  text-align: center;
  margin-top: 400px;
}



