body {
  background-image: url('../assets/beau-horyza-87E30WA21OQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  
}

.avatar {
  width: 634px;
  height: 376px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact-btn {
  width: 100px;
  border-radius: 10px;
  background-color: rgb(128, 184, 208);
  padding: 5px;
}

.youtube-video {
  margin-bottom: 10px;
  
}

.youtube-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
}

.youtube-box {
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(234, 232, 232, 0.8);
}

.about-me-card {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
}

.about-me-card:hover {
  
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 12px rgba(234, 232, 232, 0.8);
}

.avatar:hover {
  box-shadow: 0 0 12px rgba(234, 232, 232, 0.8);
}

